.bord{
 background-color:#a8a8a83d;
height:1px;
}
span{
  color:#949cb0 ;
}
header
{
  background-image: url(../../assets/img/home.webp);
  background-size: cover;
  background-position: center center;
}
